{
  "useSSL": false,

  "name": "eTRAX Server Instance",
  "version": "0.1.0",
  "host": "0.0.0.0",
  "port": "3000",
  "productionMode": false,
  "devLogger": false,

  "ssl": {
    "key": "./ssl/ssl-test-key.pem",
    "cert": "./ssl/ssl-test-cert.pem"
  },
  "dbConfig": {
    "database": "ChatDB",
    "endpoint": "http://localhost:8529",
    "batchSize": 5000,
    "request": {
      "headers": {
        "proxy": "http://localhost:8888",
        "connection": "keep-alive"
      }
    }
  }
}
